<h1>Your Order Has Been Placed!</h1>

<div class="container">
<div class="col-md-12">
  <button id="submitButton" href="/orders" type="submit" class="btn btn-primary">View Previous Orders</button>
  </div>
</div>