<h1>Your Order Has Been Placed!</h1>

<div class="container">
<div class="col-md-12">
  <a href="/orders" id="previous-orders" class="btn btn-primary">
          View Previous Orders
        </a>
        <a href="/home" id="return Home" class="btn btn-primary">
          Return Home
        </a>
  </div>
  
</div>