

<img src="/Assets/images/banner.png" class="img-fluid" alt="...">

<h1>Meet The Team</h1>


<div class="container">
  <div class="row-8">
    <div class="col-4">
    <img src="/Assets/images/smartwatch.jpg" class="img-fluid">
    </div>
    <div class="col-8">
      2 of 3 (wider)
    </div>


