

<img src="/Assets/images/banner.png" class="img-fluid" alt="...">

<h1>About Us</h1>


<div class="container">
  <div class="row">
    <div class="col-6">
    <img src="/Assets/images/smartwatch.jpg" class="rounded">
    </div>
    <div class="col-6">
      <p>In a emerging fast-paced world it is easy to forget about the things that really matter.
      We at Fit4U wanted to do something to make life a little easier for all our users. We went on a mission
      to develop the most advanced smart watch on the market to track your fitness and health. We partnered with the 
      Ministry of Health amidst the pandemic to uphold the saftey of all our customers.
      
      This web application is far beyond just a online shopping source, we want our customers to be able to see all 
      the data collected by their watch in one spot. So create a profile, sync your watch, and see your data in real-time</p>
    </div>


