

<img src="/Assets/images/banner.png" class="img-fluid" alt="...">

<h1>About Us</h1>


<div class="container">
  <div class="row">
    <div class="col-4">
    <img src="/Assets/images/smartwatch.jpg" class="img-fluid">
    </div>
    <div class="col-8">
      <p>In a emerging fast-paced world it is easy to forget about the things that really matter</p>
    </div>


