<!--  File Name: home.ejs
      Author: Web Wiz
      Group Number: 1
      Date: July 13, 2021
-->
<div class="hm-background">
      <h1 id="banner-msg">Welcome To Fit4U</h1>      
            
</div>




