<!--  File Name: newtourney.ejs
      Author: Web Wiz
      Group Number: 1
      Date: July 13, 2021
-->
<% if(displayName) { %>
       
<div class="container">
<div class="jumbotron">
  <h1 class="display-4 d-flex justify-content-center" style="font-family: Roboto, sans-serif;">Create A New Tournament</h1>    
</div>
<div class="container justify-content-center" style="width:500px; margin: auto;">
    <form>
        <div class="form-group">
            <label for="exampleFormControlInput1">Tournament's Name</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Name">
          </div>
        <div class="form-group">
          <label for="exampleFormControlInput1">Number of Competitors</label><br>
          <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" checked="checked">
              <label class="form-check-label" for="inlineRadio1">8</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
              <label class="form-check-label" for="inlineRadio2">16</label>
            </div>
        </div>
        <label for="cars">Select Tournament Type: </label>
          <select name="cars" id="cars">
            <option value="">Options</option>
            <option value="esport">E-Sport</option>
            <option value="sport">Sport</option>            
          </select>
          <br>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Description</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="6"placeholder="Tournament's Description"></textarea>
        </div>
        <div class="d-flex  justify-content-center mt-4">
            <a href="/competitor-list"><button type="button" class="btn btn-primary" style="width: 100px;">Create</button></a>
        </div>
        <% } else { %>
            <%- include('login.ejs'); %>
        <% } %>
      </form>
      
</div>
</div>
 

