<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    
    <script type="text/javascript">
        // Quantity spin buttons
        function increase_by_one(field) {
         nr = parseInt(document.getElementById(field).value);
         document.getElementById(field).value = nr + 1;
        }
         
        function decrease_by_one(field) {
         nr = parseInt(document.getElementById(field).value);
         if (nr > 0) {
           if( (nr - 1) > 0) {
             document.getElementById(field).value = nr - 1;
           }
         }
        } 
        </script>
         
        <style type="text/css">
        #qty1 { width: 30px; }
    </style>
    
    <title>Fit4U</title>

</head>

<body>

    <br></br>
    <br></br>

    <!---single product-->
    <section class="single-product">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div id="product-slider" class="carousel slide carousel-fade" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="../Assets/images/smartwatch_product.jpg" class="d-block">
                            </div>                                                       
                        </div>
    
                    </div>
                </div>
    
                <br></br>
                <br></br>
                <br></br>

                <div class="col-md-7">
                    <p></p>
                    <h2>Fit4U Standard Edition Smartwatch</h2>
                    <p>Model: IRSC2021</p>
    
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    
                       
                    <p class="price">USD $399.99</p>
                    <p><b>Availability:</b> In Stock</p>
                    <p><b>Connectivity Technology:</b> Bluetooth</p>
                    <p><b>Brand:</b> Fit4U </p>
                    <p><b>Colour:</b> Black </p>


                    <div class="cart-quantity">
                        Quantity: <input id="qty1" type="text" value="1" name="qty" />
                        <button onclick="increase_by_one('qty1');">+</button>
                        <button onclick="decrease_by_one('qty1');" >-</button>
                      </div>

                      <br></br>
                    
                      <button style="background-color:rgb(45, 117, 250); color:white" onclick="window.location.href='http://localhost:3000/cart';">
                        Add to Cart
                      </button>                     

                    <br></br>
                    
                    <h4> Features:</h4>
                    <ul>
                        <li>GPS Navigation</li>
                        <li>Heart Rate Detector</li>
                        <li>Pedometer</li>
                        <li>Health Data Tracking</li>
                        <li>Waterproof</li>
                        <li>Activity Planner/Reminder</li>
                        <li>Text, call and get notifications directly from your watch through your Bluetooth connected smartwatch</li>
                        <li>Compatible with Android and iOS Smartphones</li>
                      </ul>  

                </div>
            </div>
        </div>
    </section>
    
    <br></br>
    
    <!------------product-description-------------->
    
    <section class="product-description">
        <div class="container">
            <h4>Product Description:</h4>
            <p>Breeze through your fitness goals with the Fit4U smartwatch. Equipped with an automatic workout tracking, advanced run coaching to track heart and lung endurance, it keeps you motivated to reach your goals. A perfect combination of fashion and function, it helps you stay on top of your day with Google app integration and call-text-notification connectivity.</p>
            <p></p>
            <p>Stay in touch, without reaching for your phone, with the smartwatch that’s engineered for adventure. With the Fit4U, you can pay right from your wrist, track your location, and withstand any weather .</p>
    
            <hr>
        </div>
      
</body>
</html>