<!--  File Name: about.ejs
      Author: Web Wiz
      Group Number: 1
      Date: July 13, 2021
-->
<h1>Tournament Details</h1>
<div class="container">
    <h3>First Round</h3>
    <div class="d-flex justify-content-around">
        <div>
            <h4>Match A</h4>
            <table class="table table-striped table-hover">
                <thead class="table-dark ">
                <tr>
                    <th scope="col">Competitor</th>
                    <th scope="col">Score</th>
                    <th scope="col">Result</th>           
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Competitor 1</td>
                    <td>1</td>
                    <td>Win</td>                
                </tr>
                <tr>
                    <td>Competitor 2</td>
                    <td>0</td>
                    <td>Lose</td>               
                </tr>
                </tbody>
            </table>
        </div>
        <div>        
            <h4>Match B</h4>
            <table class="table table-striped table-hover">
                <thead class="table-dark">
                <tr>
                    <th scope="col">Competitor</th>
                    <th scope="col">Score</th>
                    <th scope="col">Result</th>           
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Competitor 1</td>
                    <td>1</td>
                    <td>Win</td>                
                </tr>
                <tr>
                    <td>Competitor 2</td>
                    <td>0</td>
                    <td>Lose</td>               
                </tr>
                </tbody>
            </table>
        </div>
        <div>
            <h4>Match C</h4>
            <table class="table table-striped table-hover">
                <thead class="table-dark">
                <tr>
                    <th scope="col">Competitor</th>
                    <th scope="col">Score</th>
                    <th scope="col">Result</th>           
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Competitor 1</td>
                    <td>1</td>
                    <td>Win</td>                
                </tr>
                <tr>
                    <td>Competitor 2</td>
                    <td>0</td>
                    <td>Lose</td>               
                </tr>
                </tbody>
            </table>
        </div>
        <div>
            <h4>Match D</h4>
            <table class="table table-striped table-hover">
                <thead class="table-dark">
                <tr>
                    <th scope="col">Competitor</th>
                    <th scope="col">Score</th>
                    <th scope="col">Result</th>           
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Competitor 1</td>
                    <td>1</td>
                    <td>Win</td>                
                </tr>
                <tr>
                    <td>Competitor 2</td>
                    <td>0</td>
                    <td>Lose</td>               
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <h3>Second Round</h3>
    <div class="d-flex justify-content-around">
    <div>
        <h4>Match E</h4>
        <table class="table table-striped table-hover">
            <thead class="table-dark">
              <tr>
                <th scope="col">Competitor</th>
                <th scope="col">Score</th>
                <th scope="col">Result</th>           
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Competitor 1</td>
                <td>1</td>
                <td>Win</td>                
              </tr>
              <tr>
                <td>Competitor 2</td>
                <td>0</td>
                <td>Lose</td>               
              </tr>
            </tbody>
          </table>
    </div>
    <div>
        <h4>Match F</h4>
        <table class="table table-striped table-hover">
            <thead class="table-dark">
              <tr>
                <th scope="col">Competitor</th>
                <th scope="col">Score</th>
                <th scope="col">Result</th>           
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Competitor 1</td>
                <td>1</td>
                <td>Win</td>                
              </tr>
              <tr>
                <td>Competitor 2</td>
                <td>0</td>
                <td>Lose</td>               
              </tr>
            </tbody>
          </table>
    </div>
    </div>
    <h3>Final</h3>
    <div class="d-flex justify-content-around">
        <div>
        <h4>Match G</h4>
        <table class="table table-striped table-hover">
            <thead class="table-dark">
              <tr>
                <th scope="col">Competitor</th>
                <th scope="col">Score</th>
                <th scope="col">Result</th>           
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Competitor 1</td>
                <td>1</td>
                <td>Win <i class="fas fa-trophy"></i></td>                
              </tr>
              <tr>
                <td>Competitor 2</td>
                <td>0</td>
                <td>Lose</td>               
              </tr>
            </tbody>
        </table>
    </div>
    </div>

    <h3>Summary</h3>
    <div class="d-flex justify-content-evenly">
        <table class="table table-striped table-hover">
        <thead class="table-dark">
          <tr>
            <th scope="col">Tournament Statistics</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
            <th scope="row">Tournament Name</th>
            <td>Name</td>
          <tr>
                <th scope="row">Tournament Type</th>
                <td>Type</td>
          </tr>
          <tr>
            <th scope="row">Number of Competitors</th>
            <td>8</td>
          </tr>
          <tr>
            <th scope="row">Number of Matches</th>
            <td>7</td>
          </tr>
          <tr>
            <th scope="row">Champion</th>
            <td>Competitor</td>
          </tr>
        </tbody>
        </table>
    </div>
</div>
<br><br>

