<link rel="stylesheet" href="/Content/healthData.css" />
<h1>Welcome <%= displayName %></h1>
<h1><%= title %></h1>

<div class="container rounded bg-white mt-5 mb-5">
  <div class="row">
    <div class="col-md-4 border-right">
      <div class="d-flex flex-column align-items-center text-center p-3 py-5">
        <img
          class="rounded-circle mt-5"
          width="150px"
          src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"
        /><span class="font-weight-bold"><%= displayName %></span
        ><span class="text-black-50"> email@mail.com.my</span><span> </span>
        <a class="nav-link active" href="/profile">Back</a>
      </div>
    </div>
    <div class="col-md-8 border-right">
      <div
        class="
          d-flex
          flex-wrap flex-row
          align-items-center
          text-center
          p-3
          py-5
        "
      >
        <div class="health-data-item w-50">
          <div
            class="d-flex flex-column align-items-center text-center p-3 py-5"
          >
            <div class="rounded-circle p-5">100</div>
            <span class="text-black-50"> Steps</span>
          </div>
        </div>
        <div class="health-data-item w-50">
          <div
            class="d-flex flex-column align-items-center text-center p-3 py-5"
          >
            <div class="rounded-circle p-5">100</div>
            <span class="text-black-50"> Steps</span>
          </div>
        </div>
        <div class="health-data-item w-50">
          <div
            class="d-flex flex-column align-items-center text-center p-3 py-5"
          >
            <div class="rounded-circle p-5">100</div>
            <span class="text-black-50"> Steps</span>
          </div>
        </div>
        <div class="health-data-item w-50">
          <div
            class="d-flex flex-column align-items-center text-center p-3 py-5"
          >
            <div class="rounded-circle p-5">100</div>
            <span class="text-black-50"> Steps</span>
          </div>
        </div>
      </div>
      <!-- <div class="d-flex flex-direction-row p3 py3 col-md-5 border-right">
      <div class="health-data-item align-items-center text-center p-3">
        Item1
      </div>
      <div class="health-data-item align-items-center text-center p-3 w-50">
        Item
      </div>
      <div class="health-data-item align-items-center text-center p-3 w-50">
        Item
      </div>
      <div class="health-data-item align-items-center text-center p-3 w-50">
        Item
      </div>
    </div> -->
    </div>
  </div>
</div>
