<!--  File Name: home.ejs
      Author: Web Wiz
      Group Number: 1
      Date: July 13, 2021
-->
<div class="hm-background">
      <h1 id="banner-msg">Welcome To Web Wiz Tournament</h1>      
      <div class="d-flex justify-content-center">
            <img src="../Assets/images/Trophy.png" alt="" class="hm-trophy">  
      </div>         
</div>




