<div class="login-background">
<div class="container">
<div class="row">
  <div class="login-position">
    <div class="offset-md-3 col-md-6 col-sm-12">          
      <div class="login" id="contentArea">
              <h1 class="display-4">Login</h1>

              <!-- message area -->
              <% if(messages.length > 0) { %>
              <div id="messageArea" class="alert alert-danger">
                <%= messages %>
              </div>
              <% } %>
              <br>
              <form id="loginForm" novalidate method="POST">
                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon">
                      <i class="fa fa-user">
                      </i> User Name &nbsp&nbsp
                    </span>
                    <input type="text" class="form-control" id="username" name="username"  required
                    value="" placeholder="Enter your username">
                  </div>
                </div><br>

                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon">
                      <i class="fa fa-lock">
                      </i> Password &nbsp&nbsp&nbsp&nbsp&nbsp
                    </span>
                    <input type="password" class="form-control" id="password" name="password"  required
                    value="" placeholder="Enter your password">
                  </div>
                 
                </div>                                        
                <div class="text-end mt-2">
                  <button id="loginButton" type="submit" class="btn btn-primary"><i class="fas fa-sign-in-alt"></i> Login</button>
                  <button id="cancelButton" type="reset" class="btn btn-warning"><i class="fas fa-undo"></i> Cancel</button>
                </div>
              </form>
            </div>
          </div>
          <p class="text-center text-muted small">
            Don't have an account? 
            <a href="/register">Register Here!</a>
          </p>
    </div>
</div>
</div>
</div>