<div class="login-background">
    <div class="container">
      <div class="row">
        <div class="login-position">
          <div class="offset-md-3 col-md-6 col-sm-12">
            <div class="passwordReset" id="contentArea">
              <h1 class="display-4">Password Reset</h1>
  
              <!-- message area -->
              <% if(messages.length > 0) { %>
              <div id="messageArea" class="alert alert-danger">
                <%= messages %>
              </div>
              <% } %>
              <br />
                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon">
                      <i class="fa fa-lock"> </i> Password
                      &nbsp&nbsp&nbsp&nbsp&nbsp
                    </span>
                    <input
                      type="password"
                      class="form-control"
                      id="password"
                      name="password"
                      required
                      value=""
                      placeholder="Enter your new password"
                    />
                  </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="fa fa-lock"> </i> Confirm <br /> Password
                        &nbsp&nbsp&nbsp&nbsp&nbsp
                      </span>
                      <input
                        type="password"
                        class="form-control"
                        id="confirmPassword"
                        name="confirmPassword"
                        required
                        value=""
                        placeholder="Confirm new password"
                      />
                    </div>
                  </div>
                  <br />
                <div class="text-end mt-2">
                  <button id="passwordResetButton" type="submit" class="btn btn-primary">
                    <i class="fas fa-sign-in-alt"></i> Login
                  </button>
                  <button id="cancelButton" type="reset" class="btn btn-warning">
                    <i class="fas fa-undo"></i> Cancel
                  </button>
                </div>
              </form>
            </div>
          </div>
          <p class="text-center text-muted small">
            Don't have an account?
            <a href="/register">Register Here!</a>
          </p>
        </div>
      </div>
    </div>
  </div>