<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    
    <script type="text/javascript">
        // Quantity spin buttons
        function increase_by_one(field) {
         nr = parseInt(document.getElementById(field).value);
         document.getElementById(field).value = nr + 1;
        }
         
        function decrease_by_one(field) {
         nr = parseInt(document.getElementById(field).value);
         if (nr > 0) {
           if( (nr - 1) > 0) {
             document.getElementById(field).value = nr - 1;
           }
         }
        }

        function get_product_amount(field) {
          return parseInt(document.getElementById(field).value);
        }
        </script>
         
        <style type="text/css">
        #qty1 { width: 30px; }
    </style>
    
    <title>Fit4U</title>

</head>

<body>

    <br></br>
    <br></br>

    <!---single product-->
    <section class="single-product">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div id="product-slider" class="carousel slide carousel-fade" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="../Assets/images/smartwatch_product.jpg" class="d-block">
                            </div>                                                       
                        </div>
    
                    </div>
                </div>
    
                <br></br>
                <br></br>
                <br></br>

                <div class="col-md-7">
                    <p></p>
                    <h2>Fit4U Standard Edition Smartwatch</h2>
                    <p>Model: IRSC2021</p>
    
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    
                       
                    <p class="price"> $249.00</p>
                    <p><b>Availability:</b> In Stock</p>
                    <p><b>Connectivity Technology:</b> Bluetooth</p>
                    <p><b>Brand:</b> Fit4U </p>
                    <p><b>Colour:</b> Black </p>


                    <div class="cart-quantity">
                        Quantity: <input id="qty1" type="text" value="1" name="qty" />
                        <button onclick="increase_by_one('qty1');">+</button>
                        <button onclick="decrease_by_one('qty1');" >-</button>
                      </div>

                      <br></br>
                    
                      <button style="background-color:rgb(45, 117, 250); color:white" onclick="window.location.href=`/updateCart/increase/${get_product_amount('qty1')}`;">
                        Add to Cart
                      </button>                     

                    <br></br>
                    
                    <h4> Features:</h4>
                    <ul>
                        <li>GPS Navigation</li>
                        <li>Heart Rate Detector</li>
                        <li>Pedometer</li>
                        <li>Health Data Tracking</li>
                        <li>Waterproof</li>
                        <li>Activity Planner/Reminder</li>
                        <li>Text, call and get notifications directly from your watch through your Bluetooth connected smartwatch</li>
                        <li>Compatible with Android and iOS Smartphones</li>
                      </ul>  

                </div>
            </div>
        </div>
    </section>
    
    <br></br>
    
    <!------------product-description-------------->
    
    <section class="product-description">
        <div class="container">
            <h4>Product Description:</h4>
            <p>Breeze through your fitness goals with the Fit4U smartwatch. Equipped with an automatic workout tracking, advanced run coaching to track heart and lung endurance, it keeps you motivated to reach your goals. A perfect combination of fashion and function, it helps you stay on top of your day with Google app integration and call-text-notification connectivity.</p>
            <p></p>
            <p>Stay in touch, without reaching for your phone, with the smartwatch that’s engineered for adventure. With the Fit4U, you can pay right from your wrist, track your location, and withstand any weather .</p>
    
            <hr>
        </div>


        <!------------reviews-------------->
        <br></br>
<section class="section is-paddingless" style="background:#111137">
  <div class="container container-limit px-2 py-6 has-text-white">
    <div class="columns is-vcentered has-text-centered">
  
  <div class="column">
    <p class="block-10 has-text-white lh1 has-text-weight-bold mb-0 pb-2"> 
  </p><p class="is-capitalized"> </div>	

    <h1 style="color:white">Customer Reviews </h1>
    
  </div>
  </div>
  </section>

  <section class="section is-paddingless">
    <div class="container container-limit py-5 px-2">
      <p class="has-text-weight-bold block-9 has-text-centered lh1 mb-5"></p>
    <div class="columns is-centered is-mobile">
    
    </div>
    <div class="columns is-mobile is-variable is-0 mb-5">
      <div class="column is-1 pr-2"><img src="Assets/images/customer1.jpg" class="t-image" width="90"></div>
        <div class="column">
          <p class="has-text-weight-bold mb-2 is-size-3 lh1 gt">My day just got more convenient</p>
          <p class="verified mb-2 is-size-5"><img src="Assets/images/5stars.png" width="90" alt=""> Verified Purchase</p>
          <p class="mb-2"><img src="Assets/images/quote.png" width="39" style="padding-right:10px;"> I used to always forget one or two of my many daily tasks, but now with the Fit4U smartwatch I can finally put my mind to rest knowing I won't forget anything. Kind of like a personal assistant!</p>
          <p class="is-size-5"><strong>Lauren Graham.</strong> - Minnesota, USA</p>
        </div>
      </div>

    <div class="columns is-mobile is-variable is-0 mb-5">
      <div class="column is-1 pr-2"><img src="Assets/images/customer2.jpg" class="t-image" width="90"></div>
        <div class="column">
          <p class="has-text-weight-bold mb-2 is-size-3 lh1 gt">I'm loving the Fit4U Smartwatch</p>
          <p class="verified mb-2 is-size-5"><img src="Assets/images/5stars.png" width="90" alt=""> Verified Purchase</p>	
          <p class="mb-2"><img src="Assets/images/quote.png" width="39" style="padding-right:10px;">I was so frustrated when I always had to take my phone out to change music during my jogging session. When I saw the Fit4U Smartwatch supports bluetooth and music I had to try it out. Now I can change my music from just my wrist and focus on getting a quality workout! 5/5 would recommend! </p>
          <p class="is-size-5"><strong>Zach Middleton.</strong> - Chicago, USA</p>
        </div>
      </div>
      
    <div class="columns is-mobile is-variable is-0">
      <div class="column is-1 pr-2"><img src="Assets/images/customer3.jpg" class="t-image" width="90"></div>
        <div class="column">
          <p class="has-text-weight-bold mb-2 is-size-3 lh1 gt">I recommend the Fit4U Smartwatch </p>
          <p class="verified mb-2 is-size-5"><img src="Assets/images/5stars.png" width="90" alt=""> Verified Purchase</p>
          <p class="mb-2"><img src="Assets/images/quote.png" width="39" style="padding-right:10px;">Ever since owning the Fit4U Smartwatch every day I have been using the watch more than my own smartphone! Being able to make calls and receive notifications through my wrist is just SO convenient! Not only that, I can go swimming with this smartwatch since it is also water proof. Thank you!</p>
          <p class="is-size-5"><strong>Cassie Hopkins.</strong> - Delaware, USA</p>
        </div>
      </div>

    <div class="columns is-mobile is-variable is-0 mb-5">
      <div class="column is-1 pr-2"><img src="Assets/images/customer4.jpg" class="t-image" width="90"></div>
        <div class="column">
          <p class="has-text-weight-bold mb-2 is-size-3 lh1 gt">Fits me perfectly!</p>
          <p class="verified mb-2 is-size-5"><img src="Assets/images/5stars.png" width="90" alt=""> Verified Purchase</p>
          <p class="mb-2"><img src="Assets/images/quote.png" width="39" style="padding-right:10px;"> Very stylish smartwatch with many functionalities!</p>
          <p class="is-size-5"><strong>Nathan Fille.</strong> - Ontario, Canada</p>
        </div>
      </div>

    
    <div class="columns is-mobile is-variable is-0 mb-5">
      <div class="column is-1 pr-2"><img src="Assets/images/customer5.jpg" class="t-image" width="90"></div>
        <div class="column">
          <p class="has-text-weight-bold mb-2 is-size-3 lh1 gt">I'm bought this for my wife!</p>
          <p class="verified mb-2 is-size-5"><img src="Assets/images/5stars.png" width="90" alt=""> Verified Purchase</p>
          <p class="mb-2"><img src="Assets/images/quote.png" width="39" style="padding-right:10px;"> My wife's always wanted an organizer to manage the chores at home while tending for the kid's needs when I'm at work, so I bought her this. Turns out she loves it!</p>
          <p class="is-size-5"><strong>Ricardo Jafjalla.</strong> - Florida, USA</p>
        </div>
      </div>

    
    <div class="columns is-mobile is-variable is-0 mb-5">
      <div class="column is-1 pr-2"><img src="Assets/images/customer6.jpg" class="t-image" width="90"></div>
        <div class="column">
          <p class="has-text-weight-bold mb-2 is-size-3 lh1 gt">Thanks Fit4U!</p>
          <p class="verified mb-2 is-size-5"><img src="Assets/images/5stars.png" width="90" alt=""> Verified Purchase</p>
          <p class="mb-2"><img src="Assets/images/quote.png" width="39" style="padding-right:10px;"> So convenient I can track my health data and export it at any time without me having to remember every little detail. Saves me a lot of hassle!</p>
          <p class="is-size-5"><strong>Sofia Souda.</strong> - Vancouver, Canada</p>
        </div>
      </div>
    
    </div>
    </div>
    </div>
    </div>
    </section>

    <br></br>

    <button onclick="topFunction()" id="myBtn" title="Go to top">Back To Top</button>

<script>
//Get the button
var mybutton = document.getElementById("myBtn");

// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}
</script>

<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  
  font-size: 20px;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 70px;
  right: 30px;
  z-index: 99;
  font-size: 14px;
  border: none;
  outline: none;
  background-color: #0e6ffb;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}
</style>
      
</body>
</html>