<!--  File Name: update.ejs
      Author: Web Wiz
      Group Number: 1
      Date: July 13, 2021
-->
<div class="container">
<h1>Add competitors</h1>
<div class="container">
    <form>
        
            <div class="form-group">
                <label for="exampleFormControlInput1">Competitor's ID</label>
                <input type="text" class="form-control" id="CompetitorID" placeholder="ID Number" required>
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">Full Name</label>
                <input type="text" class="form-control" id="FullName" placeholder="Full Name" required>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Biography</label>
                <textarea class="form-control" id="Bio" rows="5"></textarea>
        <br>   
        <div class="d-flex justify-content-around"><button type="submit" class="btn btn-primary" style="width: 160px;">Add Competitors</button></div>        

            
    </form>
</div>
</div>