<nav class="navbar fixed-bottom navbar-dark footer">
  <div class="container-fluid mx-auto">
    <h6 class= "mx-auto" style="color:white; font-size: 12px; text-align: center;"> Web Wiz- COMP229 Summer 2021. <br>&copy; Copyright 2021.</h6>
  </div>
</nav>