<nav class="navbar fixed-bottom navbar-dark footer">
  <div class="container-fluid mx-auto">
    <h6 class= "mx-auto" style="color:white; font-size: 12px; text-align: center;"> <a href="/home"> Fit4U</a> - <a href="/contactus">Contact Us</a>  <br>&copy; Copyright 2021.</h6>
  </div>
</nav>